@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jeroen Leertouwers - Showcase</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/_Layout.css" />

    @{ var iframemodelNeeded = ViewBag.modalurl != null ? "true" : "false";}
    @{ var iframeiframeNeeded = ViewBag.iframeurl != null ? "true" : "false";}
    <script type="text/javascript">
        if (@iframemodelNeeded) $(document).ready(function () {
            onReady();
            $("#FrameModal").modal();
        });
       if (@iframeiframeNeeded) $(document).ready(function () {
            onReady();
        });

    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-smq navbar-light box-shadow mb-3q">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Portfolio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContentq"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginNavBarPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <partial name="_PresentationPartial" />
                        </li>
                        @*<li>
                            <a  class="btn-danger" href="javascript:loadUrlInFrame('@ViewBag.modalurl');">Hierrrrrrrrrr.</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2019 - Schaak - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>
    </footer>

    <div class="modal" id="FrameModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                @*@if (ViewBag.modalurl != null)
                {
                    <iframe id="iframefooter" src="@ViewBag.modalurl"></iframe>
                }*@
                <iframe id="iframefooter" src="@ViewBag.modalurl"></iframe>
            </div>
        </div>
    </div>
    


    <script src="~/js/_Layout.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
